@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    height:100vh;
    background:url(Assets/chinese-temple.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/*************navbar***************************************/
.main-sidebar{
    position: fixed;
    right: -15rem; /********-15rem*******/
    width: 15rem;
    height: 100vh;
    background: #042331;
    transition: all 0.5s ease;
}
.main-sidebar ul{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.main-sidebar header{
    font-size: x-large;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.main-sidebar ul a{
    display:block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    /* text-align: center; */
    padding-left: 3rem;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
}
ul li:hover a{
    padding-left: 1rem;
}
.main-sidebar ul a i{
    margin-right: 16px;
}
input#sidebar-check{
    display: none !important;
}
label #sidebar-btn, label #sidebar-cancel{
    position:fixed;
    cursor: pointer;
    /* right:15rem; */
    background: #042331;
    border-radius: 3px;
}
label #sidebar-btn{
    right: 40px;
    top: 18px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s ease;
}
label #sidebar-cancel{
    z-index:1111;
    right:-13.5rem;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s ease;
}
#sidebar-check:checked ~ .main-sidebar{
    right:0;
}
#sidebar-check:checked ~ label #sidebar-btn{
    right: 250px;
    opacity: 0;
    pointer-events: none;
}
#sidebar-check:checked ~ label #sidebar-cancel{
    right: 13.5rem;
}
/**********************************************************/
/***********************left side bar toggler****/
@media (max-width:753px){
.vnav-wrapper{
    height:100%;
    width:17rem;
    position:relative;
}
input[type="checkbox"]#v-btn{
    display:none !important;
}
.vnav-wrapper .vnav-btn{
    position:absolute;
    top: 10px;
    left: 0.5rem;
    height:45px;
    width:45px;
    z-index:999;
    color:black;
    background:#fff;
    border: 1px solid #333;
    text-align: center;
    line-height:45px;
    border-radius:5px;
    cursor: pointer;
    font-size: x-large;
    transition: all 0.3s ease;
}
#v-btn:checked ~ .vnav-btn{
    left: 15.5rem;
}
#v-btn:checked ~ .vnav-btn i:before{
    content: "\f00d";
}
.vnav-wrapper #sidebar{
    position:relative;
    /* height:100%;
    background:#404040; */
    width: 17rem;
    overflow:hidden;
    left: -17rem;
    transition: all 0.3s ease;
}
#v-btn:checked ~ #sidebar{
    left: 0;
}
}
/******************************************/
@media (min-width:754px){
    #v-btn , .vnav-btn{
        display:none;
    }
}
.vertical-nav {
    width:17rem;
    height:100%;
    top: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
}
.ck, .cn, .age{
    list-style: none;
    margin-left: 0;
    margin-right:0;
    border:1px solid gold;
}
.location{
    font-size:12px !important;
}

html, body{
    display: grid;
}


/**************Languages Progress Bars************** */

.polygot{
    display:flex;
    padding: 10px;
}
.wrapper{
    width:500px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
}
.wrapper .card{
    width:calc(33% - 10px);
    margin-bottom:10px;
    background: #fff;
    height:100px;
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
}
.wrapper .card .circle{
    position:relative;
    height:50px;
    width: 50px;
    /* border: 4px solid #fa4299; */
    border-radius:50%;
    cursor:default;
}
.card .circle .box,
.card .circle .box span{
    position:absolute;
    top:50%;
    left: 50%;
}
.card .circle .box{
    height:100%;
    width:100%;
    /* background:#fff; */
    transform: translate(-50%, -50%);
    border-radius:50%;
    transition:all 0.2s;
}
.card .circle:hover .box{
    transform:translate(-50%, -50%) scale(1.05);
}
.card .circle .box span,
.wrapper .card .text{
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.card .circle .box span{
    font-size:15px;
    font-weight:bold;
    font-family: sans-serif;
    transform: translate(-45%, -50%);
    transition: all 0.1s;
}
.card .circle:hover .box span{
    transform: translate(-45%, -50%) scale(1.09);
}
.card .text{
    font-size:small;
    font-weight:bold;
}
@media (max-width: 753px){
    .wrapper{
        width:400px;
    }
    .wrapper .card{
        width:calc(50% - 10px);
        margin-bottom:10px;
    }
}
@media (max-width: 500px){
    .wrapper{
        width:300px;
    }
    .wrapper .card{
        width:100%;
        margin-bottom:10px;
    }
}
/* ********************************************* */

/***********************skills bars***************/
.skills-bar{
    width:16rem;
    background: rgb(236, 236, 236);
    border-radius:10px;
    padding:8px 15px;
    /* box-shadow: 1px 5px 5px 2px rgba(0,0,0,0.2); */
}
.skills-bar .bar{
    margin:10px;
}
.skills-bar .bar:first-child{
    margin-top:0px;
}
.skills-bar .bar .info{
    margin-bottom: 5px;
}
.skills-bar .bar .info span{
    font-size:12px;
    font-weight:bold;
    opacity:0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100%{
        opacity:1;
    }
}
.skills-bar .bar .progress-line{
    position:relative;
    height:10px;
    width:100%;
    background: #f0f0f0;
    border-radius:10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
    0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1)forwards;
}
.bar .progress-line span{
    height:100%;
    width: 80%;
    background: gold;
    position: absolute;
    border-radius:10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 65%;
}
.progress-line.javascript span{
    width: 75%;
}
.progress-line.angular span{
    width: 60%;
}
.progress-line.python span{
    width: 70%;
}
.progress-line.flask span{
    width: 72%;
}
.progress-line.django span{
    width: 78%;
}
.progress-line.postgresql span{
    width: 70%;
}
.bar .progress-line span::before{
    position: absolute;
    content:"";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width:0px;
    border-right-width:0px;
    border-top-color: #000;
    opacity:0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -25px;
    color: #fff;
    font-size: 10px;
    padding: 1px 8px;
    border-radius: 3px;
    background: #000;
    opacity:0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100%{
        opacity:1;
    }
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "65%";
}
.progress-line.javascript span::after{
    content: "75%";
}
.progress-line.angular span::after{
    content: "60%";
}
.progress-line.python span::after{
    content: "70%";
}
.progress-line.flask span::after{
    content: "72%";
}
.progress-line.django span::after{
    content: "78%";
}
.progress-line.postgresql span::after{
    content: "70%";
}
/*****************************************************/

/**********************other skills*******************/
.other-skills .design-deployment-skills li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f00c";
    font-size:20px;
    color: gold;
    margin-right: 1rem;
}
.other-skills > ul > li{
    list-style: none;
}
/*********************************************************/
/*******************Socials******************************* */

.socials{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}
.socials .a:hover{
    cursor:pointer;
    transform: scale(1.5);
}
/************************************************************/

